<?xml version="1.0"?>
<!--
/**
 * CoderkubeTeam
 * Copyright(C) 06/2020 CoderkubeTeam <support@coderkube.com>
 * @package Coderkube_Brand
 * @copyright Copyright(C) 06/2020 CoderkubeTeam (https://coderkube.com/)
 * @author CoderkubeTeam <support@coderkube.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <coderkubebrand>
            <general_settings>
                <enable>1</enable>
                <footerlink>1</footerlink>
                <headerlink>1</headerlink>
            </general_settings>
        </coderkubebrand>
    </default>
</config>